@import "theme";
/* You can add global styles to this file, and also import other style files */
.nav-active {
    background-color: mat-color($mat-orange, 100) !important;
    color: mat-color($accent) !important;
}

.nav-active mat-icon {
    color: mat-color($accent) !important;
}

.mat-dialog-container {
    margin-left: auto;
    margin-right: auto;

}

.margin{
    color: mat-color($accent) !important;
}

.mat-card{
    background-image: url("http://atgbcentral.com/data/out/52/4361260-sunshine-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.mat-card-content{
    color: black;
}

html *
{
    font-family: 'Prosto One', cursive;

};
