
<div layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">

        <mat-card>
    <mat-card-title id="charts-title">Charts</mat-card-title>
    <mat-divider></mat-divider>

            <p>

                <mat-form-field>
                    <input matInput [(ngModel)]="startDate" (oninput)="buildChart()"
                           [matDatepicker]="startdp" placeholder="Start Date" disabled>
                    <mat-datepicker-toggle matSuffix [for]="startdp"></mat-datepicker-toggle>
                    <mat-datepicker #startdp disabled="false"></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [(ngModel)]="endDate" (onchange)="buildChart()"
                           [matDatepicker]="enddp" placeholder="End Date" disabled>
                    <mat-datepicker-toggle matSuffix [for]="enddp"></mat-datepicker-toggle>
                    <mat-datepicker #enddp disabled="false"></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <input matInput id="emojiOwner" #input placeholder="Filter by owner" [(ngModel)]="emojiOwner">
                </mat-form-field>
                <button mat-raised-button id="submit" (click)="buildChart()" type="button">Submit</button>
            </p>

            <mat-card-content>

        <canvas id="myChart" width="400" height="400"></canvas>

        <p>
            Filtered Entries: {{filterEmojis(emojiOwner, startDate, endDate)}}
            <br />
            Total Entries: {{this.emojis.length}}
            <br />
            Current Date: {{this.getdate()}}
        </p>


    </mat-card-content>
        </mat-card>
    </div>
</div>

