<script src="plotly-latest.min.js"></script>
<div layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card>
    <mat-card-title id="reports-title">Reports</mat-card-title>
    <mat-divider></mat-divider>


    <mat-card-content>

        <div id="week-chart" style="width:600px;height:250px;"></div>


        {{this.numberByDay('Sun')}}
        testing
        <a id="hsun" name="{{this.numberByDay('Sun')}}"></a>


    </mat-card-content>
        </mat-card>

    </div>
</div>




<script>
    week_chart = document.getElementById('week-chart');
    var days = ['Sun', 'Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat'];
    var happy_daily_totals = [parseInt(document.getElementById('hsun').name), 4, 3, 6, 1, 2, 3];
    var sad_daily_totals = [6, 7, 3, 1, 5, 4, 3];

    var happy_data = {
        x: days,
        y: happy_daily_totals,
        type: 'scatter',
        name: 'Happy'
    };

    var sad_data = {
        x: days,
        y: sad_daily_totals,
        type: 'scatter',
        name: 'Sad'
    };

    var layout = {
        title: 'This Week\'s Emotions'
    };

    var full_data = [happy_data, sad_data];

    Plotly.plot( week_chart, full_data, layout);
</script>
