
<body>
    <div>
        <nav mat-tab-nav-bar flex>
            <div>
            <mat-nav-list>
                <div class="move">
                <a mat-list-item [routerLink]="['/']" (click)="layout.close()" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}"><mat-icon>mood</mat-icon>Home</a>
                <!--
                 We have added ids specifically for each of the items on the menu bar for E2E tests to recognize where to highlight and select
                Journaling id= journal, Resources id = rsrc, Reports id = rep -Ahnaf
                -->
                </div>

                <div class="move">
                <a mat-tab-link id="journal" [routerLink]="['/journaling']" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}"><mat-icon class="material-icons">import_contacts</mat-icon>Journaling</a>
                </div>

                <div class="move">
                <a mat-tab-link id="rsrc" [routerLink]="['/resources']" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}"><mat-icon><i class="material-icons">format_list_numbered</i></mat-icon>Resources</a>
                </div>

                <div class="move">
                <a mat-tab-link id="rep" [routerLink]="['/reports']" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}"><mat-icon><i class="material-icons">assessment</i></mat-icon>Reports</a>
                </div>

                <div class="move">
                <a mat-tab-link id="goals" [routerLink]="['/goals']" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}"><mat-icon><i class="material-icons">accessibility</i></mat-icon>Goals</a>
                </div>

            </mat-nav-list>
            </div>
        </nav>
    </div>
    <router-outlet></router-outlet>
</body>
